<h1>Mortages#show</h1>
<p>Find me in app/views/mortages/show.html.erb</p>
<p>
  <strong>Initial loan:</strong>
  <%= @mortage.amount%>
</p>

<p>
  <strong>Fix amount:</strong>
  <%= @mortage.rate %>
</p>
