
<section class="background">

  <div class="container">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-5">
        <h2><strong>Damien Courrèges</strong></h2>
        <h4><strong>Agent Axa</strong></h4>
        <p>Demande de prets, prevoyance</p>
        <%= link_to "Nouvelle demande de crédit", new_mortage_path, class:'btn btn info' %>

      </div>

    <div class="col-xs-6">
      <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
   </div>
  </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4><strong>Nos solutions:</strong></h4>
    </div>
    <div class="row">
      <div class="col-xs-4 text-center">
        <strong>Bla bla</strong><br>
        Web App
      </div>
      <div class="col-xs-4 text-center">
        <strong>Bla bla</strong><br>
        Market Place
      </div>
      <div class="col-xs-4 text-center">
        <strong>Bla bla</strong><br>
        Product Platform
      </div>
    </div>
  </div>
</div>
<hr>

